table, tr, td, thead {
    border: 1px solid silver;
    border-collapse: collapse;
    font-family: Calibri;
    font-size: 14px;
    padding: 5px 5px 5px 5px;
}
tr {
    height: 20px;
}
td, thead {
    width: 100px;
}
thead {
    background-color: #00C300;
    color: #ffffff;
}
.mexico::before {
    content: url(pictures/mexico.png);
    padding-right: 5px;
}
.england::before {
    content: url(pictures/england.png);
    padding-right: 5px;
}
.germany::before {
    content: url(pictures/germany.png);
    padding-right: 5px;
}
img {
    padding-right: 10px;
}
table tr:nth-child(2n-1) td{
    background-color: #FFFFFF;
}
table tr:nth-child(2n) td{
    background-color: #EBEDD6;
}
table thead:nth-child(2n-1) td{
    background-color: #00C300;
}
.checkbox {
    color: black;
}
